@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import './basicColors.scss';
#app {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: "Roboto", san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
ul {
  padding: 0;
  li {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
  }
}

.registeredUsers, .users {
  display: inline-block;
  border: 1px solid darkgrey;
  border-radius: 3px;
  box-shadow: 0px 3px 10px 0px;
  padding: 20px;
  text-align: center;
  width: 40%;
  font-weight: bold;
  font-size: 16px;
  vertical-align: top;
}


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all 0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  position: absolute;
  top:0;
  opacity: 0;
}

// HEADER STYLES

